{% extends "base.html" %}
{% block content %}

<h1>{{ title  }}</h1>

{% if apply_form %}
  <form method="POST" action=''> {% csrf_token %}
    <h2>Rules of the Marketplace</h2>
    <ol>
      <ul>
        <li>Be kind</li>
        <li>Sell well</li>
        <li>Don't steal</li>
      </ul>
    </ol>
    {{ form.as_p }}
    <br/>
    <input type="submit" />
  </form>
{% endif %}

{% if products %}
  <div class="pull-right col-sidebar">
    <h4>My Product <br/><small><a href='{% url "sellers:product_create" %}'>Add </a> | <a href='{% url "sellers:product_list" %}'>All </a></small></h4>
    {% include "products/product_list_spinnet.html" with product_list=products %}
  </div>
{% endif %}

{% if transactions %}
  <div class="pull-left col-primary">
    <h3>Today's Sales are ${{ today_sales }}</h3>
    {% include "sellers/transaction_list.html" with transaction_list=transactions_today %}
    <br/>
    <h3>Recent Transaction History ( Total Sales : ${{ total_sales }} )</h3>
    {% include "sellers/transaction_list.html" with transaction_list=transactions %}
    <p>
      <a href='{% url "sellers:transactions" %}'>View all transactions</a>
    </p>
  </div>
{% endif %}


{% endblock %}
